.main-container {
  width: 100%;
}

.main-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  padding: 5px;
  margin-bottom: 20px;
}

.info-left {
  width: 75%;
  height: 100%;
  border: solid 1px grey;
  border-radius: 15px;
}

.explore-div {
  width: 100%;
  height: 60%;
  margin-bottom: 1%;
}

.explore-title {
  width: 100%;
  padding-left: 10px;
}

.explore-content {
  width: 100%;
  height: 95%;
  overflow: auto;
  border-bottom: solid 1px grey;
  border-top: solid 1px grey;
}

.movie-div {
  display: flex;
  width: 100%;
  height: 105px;
  border: solid 1px grey;
  border-radius: 15px;
  margin-bottom: 5px;
}

.explore-image {
  width: 12%;
  height: 100px;
}

.movie-img {
  width: 100%;
  height: 100%;
}

.info-div {
  width: 87%;
  height: 100%;
  padding-left: 5px;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.title-div {
  width: 50%;
}

.date-div {
  width: 35%;
}

.rating-div {
  width: 15%;
}

.overvier-div {
  width: 95%;
  height: 55px;
}

.overview-text {
  width: 100%;
  height: 55px;
  overflow: auto;
}

.additions-div {
  width: 100%;
  height: 37%;
  border-top: solid 1px grey;
}

.additions-title {
  width: 100%;
  padding-left: 10px;
}

.movie-cards {
  display: flex;
  width: 100%;
  height: 85%;
  border-top: solid 1px grey;
  padding: 1%;
  padding-right: 0%;
}

.movie-card {
  width: 25%;
  height: 100%;
  border: solid grey 1px;
  border-radius: 7px;
  margin-right: 1%;
}

.card-image {
  width: 100%;
  height: 150px;
  border-bottom: solid 1px grey;
}

.card-info {
  width: 100%;
  text-align: center;
}

.statistics-div {
  width: 25%;
  height: 100%;
  border: solid 1px grey;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1%;
}

.statistics-title-div {
  width: 100%;
  height: 3%;
  border-bottom: solid 1px black;
  margin-bottom: 2px;
}

.top-movies-div {
  width: 100%;
  max-height: 25%;
  overflow: auto;
  margin-bottom: 20px;
}

.top-movie {
  width: 100%;
  height: 30px;
  max-height: 50px;
  margin-top: 2px;
  border-bottom: solid 1px black;
}

.favourite-title-div {
  width: 100%;
  height: 3%;
  border-bottom: solid 1px black;
  margin-bottom: 2px;
}

.fav-movies-div {
  width: 100%;
  max-height: 70%;
  overflow: auto;
}

.fav-movie {
  width: 100%;
  max-height: 50px;
  margin-top: 2px;
  border-bottom: solid 1px black;
}

.footer-div {
  text-align: center;
  width: 100%;
  height: 30px;
  // border: solid 1px grey;
  border-radius: 15px;
  padding: 5px;
}
