.main-container {
  width: 100%;
  // border: solid 1px black;
  // border-radius: 10px;
}

.movie-div {
  width: 100%;
  height: 100px;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.image {
  width: 100%;
  height: 100%;
}

.image-div {
  width: 13%;
  height: 100%;
}

.info-div {
  width: 87%;
  height: 100%;
  padding-left: 5px;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.title-div {
  width: 50%;
}

.date-div {
  width: 35%;
}

.rating-div {
  width: 15%;
}

.overvier-div {
  width: 95%;
  height: 55px;
}

.overview-text {
  width: 100%;
  height: 55px;
  overflow: auto;
}
