.main-container {
  width: 100%;
}

.movie-info-div {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.movie-image-div {
  width: 35%;
  height: 390px;
  border: solid 1px black;
  margin-right: 10px;
}

#movie-img {
  width: 100%;
  height: 390px;
}

.info-outer-div {
  width: 65%;
  height: 390px;
}

.info-inner-div {
  width: 100%;
  height: 130px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}


.header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.title-div {
  width: 46%;
}

.title-text {
  overflow: auto;
}

.date-div {
  width: 30%;
}

.status-div {
  width: 32%;
  margin-left: 2%;
}

.more-info {
  width: 100%;
  height: 85px;
}

.runtime-div {
  width: 98%;
  height: 25px;
  border-bottom: solid 1px black;
}

.runtime-text {
  width: 100%;
  height: 25px;
}

.overvier-div {
  width: 98%;
  height: 55px;
}

.overview-text {
  width: 100%;
  height: 55px;
  overflow: auto;
}

.cast-div {
  width: 100%;
  height: 265px;
}

.person-line {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}

.card-div {
  width: 25%;
  height: 130px;
  border: solid 1px black;
  margin-right: 1px;
}

.avatar {
  width: 100%;
  height: 90px;
}

.person-image {
  width: 100%;
  height: 90px;
}

.person-info {
  height: 40px;
  text-align: center;
}

.info-text {
  height: 20px;
  margin-bottom: 0px;
}

.subreddit-div {
  width: 100%;
  height: 600px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
}

.video-div {
  width: 100%;
  height: 400px;
  border: solid 1px black;
  border-radius: 10px;
}

#videoPlayer {
  width: 100%;
  height: 400px;
}
